@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body{
  // background: #ececec;
  background: #242424;
}
h1,
h2,
h3,
p,
ul,
li{
  color: white;
}
.hero-image{
  background: rgba(0,0,0, .5) url(../img/hero_2.jpg) center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white !important;
  position: relative;
}
.hero-image h1,
.hero-image h2{
  position: relative;
  z-index: 2;
  animation: slideUp 1s forwards;
}
.hero-image h2{
  opacity: 0;
  animation-delay: .3s;
}
.hero-image p{
  position: relative;
  z-index: 2;
  color: #fff;
  text-shadow: 1px 0 0 rgba(0,0,0,.5);
}

.hero-image:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
  background: rgba(0,0,0,.75);
  z-index: 0;
}
.main-headline{
  position: relative;
  display: inline-table;
}
.main-headline:after{
  content: '';
  position: absolute;
  width: 0%;
  height: .1em;
  bottom: 0;
  background: white;
  display: block;
  animation: underlineAnimate 1s forwards;
}

/* Navigation */
.navigation{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  z-index: 100;
}
.navigation .logo{
  background: url('../img/inbp-logo.svg') center center;
  background-size: 100%;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}
.navigation .link-collection{
  text-align: right;
}
.navigation .link-group .link-dropdown{
  text-align: left;
}
.navigation .link-item{
  text-align: right;
}
.navigation .link-group{
  position: relative;
}
.navigation .link-group .link-dropdown a{
  display: block;
  padding-bottom: 1rem;
  color: white;
}
.navigation .link-group .link-arrow{
  transform: rotate(90deg);
}
.navigation .link-group.active .link-arrow{
  transform: rotate(-90deg);
}
.navigation .link-group .link-dropdown{
  display: none;
}
.navigation .link-group.active .link-dropdown{
  display: block;
}

/* Menu Button - Menu Mobile change */
.menu-button{
  position: absolute;
  right: 1.5rem;
  z-index: 100;
  transform: rotate(0deg);
  transition: all .3s;
}
.menu-button .bar{
  width: 100%;
  display: block;
  background: white;
  opacity: 1;
}
.navigation-overlay.active{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
}
.menu-button.active{
  transform: rotate(360deg);
}
.menu-button.active .bar:first-child,
.menu-button.active .bar:last-child{
  opacity: 0;
}
.link-collection{
  position: fixed;
  top: 0;
  z-index: 100;
  right: -100%;
  height: 100%;
  background: black;
  width: 12rem;
  padding: 5rem 0 0;
  box-shadow: 0 0 10px 5px rgba(0,0,0,.3);
}
.link-collection.active{
  right: 0;
  transition: .3s all;
}

.link-collection a{
  padding-bottom: 1.5rem;
  color: white;
}

@media(min-width: 728px){
  .navigation-overlay{
    height: 0;
    width: 0;
  }
  .navigation .link-group .link-dropdown{
    position: absolute;
    background: #000;
    display: none;
  }
  .navigation .link-group:hover .link-dropdown {
    display: block;
  }
  .navigation .link-group .link-dropdown a:last-child{
    padding-bottom: 0;
  }
  .navigation .link-group .link-dropdown{
    box-shadow: 0px 9px 7px -3px rgba(0, 0, 0, 0.12);
  }
}
.filter-link{
  background: white;
  color: black;
  overflow: hidden;
}
.filter-link .arrow{
  fill: black;
}

/* Product Card */
.product-card{
  background: #000;
  position: relative;
  overflow: hidden;
}
.product-card:hover{
  transform: scale(1.02);
  transition: .5s all;
}
.product-card-image{
  overflow: hidden;
  position: relative;
  background: white;
}
.product-card-image .image{
  height: 100%;
  width: 100%;
  position: relative;
}
.product-card .product-name{
  background: #000;
  // background: rgb(204, 0, 0);
  color: white;
}
.product-card .product-price{
  color: white;
}
.product-card h3{
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.product-card-image .image img{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  margin: auto;
}
.buy-tag{
  position: absolute;
  top: 0;
  right: 0;
  background: #4e6eea;
  color: #fff;
}


/* Specific Product Box */
.specific-product-item{
  background: white;
}
.specific-item-content{
  background: #4f6eea;
  // background: rgb(204, 0, 0);
  color: white;
}
.specific-product-item > .product-card-image{
  background-size: cover !important;
  background-position: center !important;
}

/* ARROW SVG */

.specific-product-item:hover svg,
.filter-link:hover svg{
  left: 20px;
  opacity: 1;
  transition: .5s all;
}
.product-card:hover svg{
  left: 5px;
}
svg.arrow{
  fill: white;
  left: -80px;
  opacity: 0;
  position: relative;
}

.buy-tag svg.arrow{
  left: 5px;
  opacity: 1;
}


/* AD STYLES */
.wide-banner-ad{
  width:728px;
  height:90px;
  border:0;
}

/* Footer */
footer{
  background: black;
}
footer a{
  color: white;
}

$poppins: 'Poppins', Arial;

.footer-subscribe {
  color: white;
  background: #4f6eea;
  // background: rgb(204, 0, 0);
  .subscribe-form {
    color: black;
    // input{
      //   font-family: $poppins;
      //   color: black;
      //   height: 3rem;
      //   padding: $input-padding;
      //   font-size: 1rem;
      //   border-radius: 0.125rem;
      //   outline: none;
      // }
      button{
        border-radius: 0.125rem;
        align-self: baseline;
        background: #1c2c6d;
        color: white;
        padding: .7rem 1.25rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
        font-size: 1.25rem;
        outline: none;
        font-family: $poppins;
        margin: 1rem 0 0;
      }
      .msg-alert{
        padding: .5rem 0 0;
        p{
          color: white !important;
        }
      }
    }
  }

  .footer-pages h2{
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-family: $poppins;
    font-weight: bold;
  }
  .footer-pages p,
  .footer-pages ul{
    margin-bottom: 1rem;
    font-family: $poppins;
  }

  .transition-appear {
    opacity: 0;
  }
  .transition-appear-active {
    animation: 1s fadeIn forwards;
  }


  /* Responsive */

  @media(min-width: 768px){
    .link-collection{
      background: transparent;
      position: relative;
      height: auto;
      width: auto;
      padding: 0;
      right: 0 !important;
      box-shadow: none;
    }
    .link-collection a{
      padding-bottom: 0;
    }
    .menu-button .bar{
      display: none;
    }
  }


/*ANIMATIONS*/
@keyframes underlineAnimate {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
@keyframes slideUp {
  0%{
    transform: translateY(1em);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  }

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
